
.product-design-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    /* justify-content: space-between; */
    padding: 10px;
    margin-top: 10px;


}
.product-design-description{
    padding: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
/* .design-description-container{


} */
 .design-title{
    margin-bottom: 10px;
 }
.design-heading {
  font-weight: 400; 
  max-width: 350px; 
  line-height: 1;
}

.highlight {
  color:#FF6C2D; 

}
.view-work{
    margin-bottom: 5px;
    height: 50px;
    align-content: center;
}
.view-work-button{
    background-color: transparent;
    border: 1px solid rgb(214, 214, 214);
    padding: 10px;
    border-radius: 50px;
    color: white;
  transition: 
  background-color 0.3s ease-in-out,
   color 0.3s ease-in-out;

}
.view-work-button:hover{
    background-color: #FF6C2D;
    color: black;
    border: none;
}
.main-image{
    /* background-color: #FF6C2D; */
display: flex;
justify-content: center;
align-items: center;
}
/* .main-image img{
     width: 551px;
    height: 450px; 
    
    
    object-fit: contain;
} */
.main-image img {
    width: 100%;       
    max-width: 551px;  
    height: auto;      
    max-height: 450px; /* Optional: limit height */
    object-fit: contain;
    overflow: hidden; 
    border-radius: 5px;

}

.images-set{
    display: flex;
    flex-shrink: 1;
    gap: 10px;
    cursor: pointer;
}
.images-set img{
    width: 210px;
    height: 122px;
    object-fit: cover;
    border-radius: 5px;
}
.images-set img:hover {
box-shadow: 0 4px 12px rgba(192, 156, 111, 0.1);
}




